! -----------------------------------
! Includes for easier (Instant) rice!
! -----------------------------------
#include "/home/soufiaane/.xrdb/colors"
!#include "/home/soufiaane/.xrdb/rofi"

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.rgba: rgb
Xft.dpi: 96
